#modal.open {
	display: flex;
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000000a8;
	display: none;
	justify-content: center;
	align-items: center;
}

#modal .modal__content {
	width: 900px;
	min-height: 300px;
	background-color: #fff;
	animation: floatIn ease 0.4s forwards;
}

#modal .modal__header {
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #009688;
	color: #fff;
	font-size: 30px;
}

.close-btn {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	padding: 15px;
	font-size: 18px;
	opacity: 0.8;
	z-index: 2;
}

.close-btn:hover {
	opacity: 1;
	cursor: pointer;
}

.modal__body {
	padding: 16px;
	font-size: 15px;
}

.modal__label {
	margin-bottom: 10px;
}

.modal__input {
	margin-bottom: 25px;
	width: 100%;
	padding: 11px;
	border: 1px solid #ccc;
	font-size: 18px;
}

.modal__btn {
	width: 100%;
	border: none;
	background-color: #009688;
	color: #fff;
	padding: 19px;
	transition: 0.2s;
	font-size: 18px;
}
.modal__btn:hover {
	opacity: 0.7;
}

.modal__footer {
	padding: 16px;
}

.modal__help {
	text-align: right;
	display: block;
	margin-top: -21px;
}

.modal__help a {
	color: #2196f3;
}

.mr-16 {
	margin-right: 16px;
}

@keyframes floatIn {
	from {
		opacity: 0;
		transform: translateY(-140px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* TABLET , MOBILE */
@media (max-width: 1023px) and (max-height: 450px) {
	#modal .modal__content {
		min-height: 0;
		width: 90%;
		transform: translateY(23px) !important;
	}
	#modal .modal__header {
		height: 50px;
		font-size: 20px;
		position: relative;
	}
	.modal__body {
		padding: 16px;
		font-size: 13px;
	}
	.modal__input {
		margin-bottom: 13px;
		font-size: 12px;
	}
	.modal__btn {
		padding: 8px;
		font-size: 15px;
	}
	.modal__help {
		display: none;
	}
	.modal__footer {
		padding: 0;
	}
}
